# Populate information below
export PROXMOX_URL=""
export PROXMOX_USERNAME=""
export PROXMOX_PASSWORD=""

# Generate with following command
# echo "$(tr -dc 'a-z0-9' </dev/urandom | head -c6).$(tr -dc 'a-z0-9' </dev/urandom | head -c16)"
export PKR_VAR_kubeadm_bootstrap_token=""

# Control the number of nodes upgraded at a time
export TF_CLI_ARGS_apply="-parallelism=1"

# Remaining variables, do not change
export PM_API_URL="$PROXMOX_URL"
export PM_USER="$PROXMOX_USERNAME"
export PM_PASS="$PROXMOX_PASSWORD"
